WebServiceAskingDB.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions targetNamespace="http://dao.feapps.com.br/" name="WebServiceAskingDB" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://dao.feapps.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://dao.feapps.com.br/" schemaLocation="WebServiceAskingDB_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="login">
    <part name="parameters" element="tns:login"/>
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse"/>
  </message>
  <message name="retornaRankingsTemps">
    <part name="parameters" element="tns:retornaRankingsTemps"/>
  </message>
  <message name="retornaRankingsTempsResponse">
    <part name="parameters" element="tns:retornaRankingsTempsResponse"/>
  </message>
  <message name="getNumSalasAtivas">
    <part name="parameters" element="tns:getNumSalasAtivas"/>
  </message>
  <message name="getNumSalasAtivasResponse">
    <part name="parameters" element="tns:getNumSalasAtivasResponse"/>
  </message>
  <message name="getConjuntoQuestoes">
    <part name="parameters" element="tns:getConjuntoQuestoes"/>
  </message>
  <message name="getConjuntoQuestoesResponse">
    <part name="parameters" element="tns:getConjuntoQuestoesResponse"/>
  </message>
  <message name="listarSalas">
    <part name="parameters" element="tns:listarSalas"/>
  </message>
  <message name="listarSalasResponse">
    <part name="parameters" element="tns:listarSalasResponse"/>
  </message>
  <message name="resetarSala">
    <part name="parameters" element="tns:resetarSala"/>
  </message>
  <message name="resetarSalaResponse">
    <part name="parameters" element="tns:resetarSalaResponse"/>
  </message>
  <message name="deletarConjunto">
    <part name="parameters" element="tns:deletarConjunto"/>
  </message>
  <message name="deletarConjuntoResponse">
    <part name="parameters" element="tns:deletarConjuntoResponse"/>
  </message>
  <message name="listarRankings">
    <part name="parameters" element="tns:listarRankings"/>
  </message>
  <message name="listarRankingsResponse">
    <part name="parameters" element="tns:listarRankingsResponse"/>
  </message>
  <message name="salvaRankingTemp">
    <part name="parameters" element="tns:salvaRankingTemp"/>
  </message>
  <message name="salvaRankingTempResponse">
    <part name="parameters" element="tns:salvaRankingTempResponse"/>
  </message>
  <message name="saveUser">
    <part name="parameters" element="tns:saveUser"/>
  </message>
  <message name="saveUserResponse">
    <part name="parameters" element="tns:saveUserResponse"/>
  </message>
  <message name="listarUsuarios">
    <part name="parameters" element="tns:listarUsuarios"/>
  </message>
  <message name="listarUsuariosResponse">
    <part name="parameters" element="tns:listarUsuariosResponse"/>
  </message>
  <message name="listarAreas">
    <part name="parameters" element="tns:listarAreas"/>
  </message>
  <message name="listarAreasResponse">
    <part name="parameters" element="tns:listarAreasResponse"/>
  </message>
  <message name="atualizaSala">
    <part name="parameters" element="tns:atualizaSala"/>
  </message>
  <message name="atualizaSalaResponse">
    <part name="parameters" element="tns:atualizaSalaResponse"/>
  </message>
  <message name="salvaRankings">
    <part name="parameters" element="tns:salvaRankings"/>
  </message>
  <message name="salvaRankingsResponse">
    <part name="parameters" element="tns:salvaRankingsResponse"/>
  </message>
  <message name="getSalaForId">
    <part name="parameters" element="tns:getSalaForId"/>
  </message>
  <message name="getSalaForIdResponse">
    <part name="parameters" element="tns:getSalaForIdResponse"/>
  </message>
  <message name="criarSala">
    <part name="parameters" element="tns:criarSala"/>
  </message>
  <message name="criarSalaResponse">
    <part name="parameters" element="tns:criarSalaResponse"/>
  </message>
  <message name="deletarSala">
    <part name="parameters" element="tns:deletarSala"/>
  </message>
  <message name="deletarSalaResponse">
    <part name="parameters" element="tns:deletarSalaResponse"/>
  </message>
  <message name="atualizarTabelas">
    <part name="parameters" element="tns:atualizarTabelas"/>
  </message>
  <message name="atualizarTabelasResponse">
    <part name="parameters" element="tns:atualizarTabelasResponse"/>
  </message>
  <message name="addUser">
    <part name="parameters" element="tns:addUser"/>
  </message>
  <message name="addUserResponse">
    <part name="parameters" element="tns:addUserResponse"/>
  </message>
  <portType name="WebServiceAskingDB">
    <operation name="hello">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="login">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/loginRequest" message="tns:login"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/loginResponse" message="tns:loginResponse"/>
    </operation>
    <operation name="retornaRankingsTemps">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/retornaRankingsTempsRequest" message="tns:retornaRankingsTemps"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/retornaRankingsTempsResponse" message="tns:retornaRankingsTempsResponse"/>
    </operation>
    <operation name="getNumSalasAtivas">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/getNumSalasAtivasRequest" message="tns:getNumSalasAtivas"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/getNumSalasAtivasResponse" message="tns:getNumSalasAtivasResponse"/>
    </operation>
    <operation name="getConjuntoQuestoes">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/getConjuntoQuestoesRequest" message="tns:getConjuntoQuestoes"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/getConjuntoQuestoesResponse" message="tns:getConjuntoQuestoesResponse"/>
    </operation>
    <operation name="listarSalas">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/listarSalasRequest" message="tns:listarSalas"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/listarSalasResponse" message="tns:listarSalasResponse"/>
    </operation>
    <operation name="resetarSala">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/resetarSalaRequest" message="tns:resetarSala"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/resetarSalaResponse" message="tns:resetarSalaResponse"/>
    </operation>
    <operation name="deletarConjunto">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/deletarConjuntoRequest" message="tns:deletarConjunto"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/deletarConjuntoResponse" message="tns:deletarConjuntoResponse"/>
    </operation>
    <operation name="listarRankings">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/listarRankingsRequest" message="tns:listarRankings"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/listarRankingsResponse" message="tns:listarRankingsResponse"/>
    </operation>
    <operation name="salvaRankingTemp">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/salvaRankingTempRequest" message="tns:salvaRankingTemp"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/salvaRankingTempResponse" message="tns:salvaRankingTempResponse"/>
    </operation>
    <operation name="saveUser">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/saveUserRequest" message="tns:saveUser"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/saveUserResponse" message="tns:saveUserResponse"/>
    </operation>
    <operation name="listarUsuarios">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/listarUsuariosRequest" message="tns:listarUsuarios"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
    </operation>
    <operation name="listarAreas">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/listarAreasRequest" message="tns:listarAreas"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/listarAreasResponse" message="tns:listarAreasResponse"/>
    </operation>
    <operation name="atualizaSala">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/atualizaSalaRequest" message="tns:atualizaSala"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/atualizaSalaResponse" message="tns:atualizaSalaResponse"/>
    </operation>
    <operation name="salvaRankings">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/salvaRankingsRequest" message="tns:salvaRankings"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/salvaRankingsResponse" message="tns:salvaRankingsResponse"/>
    </operation>
    <operation name="getSalaForId">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/getSalaForIdRequest" message="tns:getSalaForId"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/getSalaForIdResponse" message="tns:getSalaForIdResponse"/>
    </operation>
    <operation name="criarSala">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/criarSalaRequest" message="tns:criarSala"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/criarSalaResponse" message="tns:criarSalaResponse"/>
    </operation>
    <operation name="deletarSala">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/deletarSalaRequest" message="tns:deletarSala"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/deletarSalaResponse" message="tns:deletarSalaResponse"/>
    </operation>
    <operation name="atualizarTabelas">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/atualizarTabelasRequest" message="tns:atualizarTabelas"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/atualizarTabelasResponse" message="tns:atualizarTabelasResponse"/>
    </operation>
    <operation name="addUser">
      <input wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/addUserRequest" message="tns:addUser"/>
      <output wsam:Action="http://dao.feapps.com.br/WebServiceAskingDB/addUserResponse" message="tns:addUserResponse"/>
    </operation>
  </portType>
  <binding name="WebServiceAskingDBPortBinding" type="tns:WebServiceAskingDB">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retornaRankingsTemps">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getNumSalasAtivas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getConjuntoQuestoes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarSalas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="resetarSala">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deletarConjunto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarRankings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaRankingTemp">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarUsuarios">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarAreas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="atualizaSala">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaRankings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSalaForId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="criarSala">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deletarSala">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="atualizarTabelas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WebServiceAskingDB">
    <port name="WebServiceAskingDBPort" binding="tns:WebServiceAskingDBPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

