web/WEB-INF/wsit-br.com.feapps.dao.WebServiceAskingDB.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="WebServiceAskingDB" targetNamespace="http://dao.feapps.com.br/" xmlns:tns="http://dao.feapps.com.br/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="listarUsuarios"/>
    <message name="listarUsuariosResponse"/>
    <message name="addUser"/>
    <message name="addUserResponse"/>
    <message name="login"/>
    <message name="loginResponse"/>
    <message name="adcUsuario"/>
    <message name="adcUsuarioResponse"/>
    <message name="removeUserSala"/>
    <message name="removeUserSalaResponse"/>
    <portType name="WebServiceAskingDB">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="listarUsuarios">
            <input message="tns:listarUsuarios"/>
            <output message="tns:listarUsuariosResponse"/>
        </operation>
        <operation name="addUser">
            <input message="tns:addUser"/>
            <output message="tns:addUserResponse"/>
        </operation>
        <operation name="login">
            <input message="tns:login"/>
            <output message="tns:loginResponse"/>
        </operation>
        <operation name="adcUsuario">
            <input message="tns:adcUsuario"/>
            <output message="tns:adcUsuarioResponse"/>
        </operation>
        <operation name="removeUserSala">
            <input message="tns:removeUserSala"/>
            <output message="tns:removeUserSalaResponse"/>
        </operation>
    </portType>
    <binding name="WebServiceAskingDBPortBinding" type="tns:WebServiceAskingDB">
        <operation name="hello">
            <input></input>
            <output></output>
        </operation>
        <operation name="listarUsuarios">
            <input></input>
            <output></output>
        </operation>
        <operation name="addUser">
            <input></input>
            <output></output>
        </operation>
        <operation name="login">
            <input></input>
            <output></output>
        </operation>
        <operation name="adcUsuario">
            <input/>
            <output/>
        </operation>
        <operation name="removeUserSala">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="WebServiceAskingDB">
        <port name="WebServiceAskingDBPort" binding="tns:WebServiceAskingDBPortBinding"/>
    </service>
</definitions>
